{% extends "app/base.html"%} {% load crispy_forms_tags %}
<h1>Login</h1>
<!--
<form method="POST" action="">
  {% csrf_token %} {{form|crispy}}

  <button type="submit" name="submit">Enter</button>
</form>
-->

{% block content%}
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="container">
  <br />
  <p>   LOGIN</p>
  <hr />

  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">

      <form method="POST" action="">
                {% csrf_token %}
      
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
                    {{ form.username}}

        </div>
        <!-- form-group// -->
        
        <!-- form-group// -->
        
        <!-- form-group// -->
        
        <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
                   {{ form.password}}

        </div>
        <!-- form-group// -->
        
        <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
         LOGIN
          </button>
        </div>
        <!-- form-group// -->
        <p class="text-center">Don't have an account? <a href="{% url 'authenticationApp:registerPage'%}">Sign Up</a></p>
      </form>
    </article>
  </div>
  <!-- card.// -->
</div>
<!--container end.//-->
</form>


{% endblock%}
<div>
  {% if messages%} {% for message in messages%}
  <div class="alert" alert-{{message.tags}}>{{message}}</div>
  {% endfor %} {% endif %}
</div>
