<style>

       button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16;
   margin: 20px;
  opacity: 0.9;
  border-radius: 2%;

  button:hover {opacity:1;}
</style>

<div class="container p-3 my-3 bg-primary text-white">
  <h1>Logged out</h1>
</div>
<button
  type="submit"
  class="btn btn-primary btn-block"
  onclick="window.location.href='{% url 'authenticationApp:login'%}'"
>
  Login again
</button>
